/*自定义页面样式*/
/*@author zhangxh*/

/*主要元素布局样式*/

#toolbar {
  min-height: 30px;
}

#detail {
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom: 0;
}

#detail .table {
  margin-bottom: 0;
}

#footer {
  min-height: 100%;
}

#footer .table {
  margin-bottom: 0;
}

/*字体*/
.table {
  font-size: 9pt;
}

.table > tbody > tr > td, .table > tbody > tr > th {
  padding: 2px;
}

/*图表样式*/
text.voltageLabel {
  fill: red;
  cursor: pointer;
}

text.carrierFrequencyLabel {
  fill: green;
  cursor: pointer;
}

text.lowFrequencyLabel {
  fill: blue;
  cursor: pointer;
}

text.fontawesome {
  font-family: FontAwesome;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}

.grid .tick {
  stroke: lightgrey;
  opacity: 0.7;
}
.grid path {
  stroke-width: 0;
}