/*自定义页面样式*/
/*@author zhangxh*/

/*主要元素布局样式*/

#toolbar {
  min-height: 30px;
}

#detail {
  overflow: scroll;
  overflow-x: hidden;
  margin-bottom: 0;
}

#detail .table {
  margin-bottom: 0;
}

#footer {
  min-height: 100%;
}

#footer .table {
  margin-bottom: 0;
}

/*字体*/
.table {
  font-size: 9pt;
}

.table > tbody > tr > td, .table > tbody > tr > th {
  padding: 2px;
}

/*图表样式*/
.grid .tick {
  stroke: lightgrey;
  opacity: 0.7;
}
.grid path {
  stroke-width: 0;
}

text.voltage-label {
  fill: red;
  cursor: pointer;
}

text.carrier-frequency-label {
  fill: green;
  cursor: pointer;
}

text.low-frequency-label {
  fill: blue;
  cursor: pointer;
}

text.speed-label {
  fill: #aa0;
  cursor: pointer;
}

text.fontawesome {
  font-family: FontAwesome;
}

rect.lamp-background {
  fill: #68778a;
}

path.event {
  fill: #fdaa06;
}

path.event:hover {
  fill: red;
}

.axis path.power-on {
  fill: #fdaa06;
  stroke: none;
}

.axis path.power-on:hover {
  fill: red;
  stroke: none;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

line.select-line {
  stroke: #FB5F27;
  stroke-width: 2;
  cursor: ew-resize;
}

line.reference-line {
  stroke: green;
  stroke-width: 1.7;
  cursor: ew-resize;
}

rect.chart-tip {
  fill: #000;
  fill-opacity: 0.2;
}

path.path-voltage {
  fill: none;
  stroke-width: 1;
  stroke: #e44;
  stroke-opacity: 0.9;
}

path.line-carrier-frequency {
  fill: none;
  stroke-width: 1;
  stroke: #0d0;
  stroke-opacity: 0.9;
}

path.line-low-frequency {
  fill: none;
  stroke-width: 1;
  stroke: #00d;
  stroke-opacity: 0.9;
}

path.line-speed {
  fill: none;
  stroke-width: 1;
  stroke: #aa0;
  stroke-opacity: 0.9;
}

.insulation path {
  stroke: url(#line-gradient-insulation);
}

.updown path {
  stroke: #ec8100;
}

.ab path {
  stroke: #009a00;
}

.port12 path {
  stroke: #0000a2;
}

path.chair-line {
  fill: none;
  stroke-width: 1;
  stroke-opacity: 0.9;
}
line.semaphore-under-line,
.semaphore line,
.semaphore path {
  stroke: #000;
  fill: none;
}

.semaphore text.label-1{
  font-size: 8pt;
}
.semaphore text.label-2{
  font-size: 9pt;
}
.semaphore text.label-3{
  font-size: 8pt;
}

text.voltage-label-tip {
  fill: red;
  font-weight: bold;
}

text.carrier-frequency-label-tip {
  fill: green;
  font-weight: bold;
}

text.low-frequency-label-tip {
  fill: blue;
  font-weight: bold;
}

text.speed-label-tip {
  fill: #aa0;
  font-weight: bold;
}